if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  .myimage
    background url(images/myImage.jpg)
    width: 80%;
    background-size: 100%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 16px;
  .mywords
    color: #999;
    font-size: 14px;
    margin: 1em 0;
    margin-right: 1em;
    line-height: 1.6;
  .list-i
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-right: 22px;
    justify-content: space-between;
    i 
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      margin: 2%;
      box-sizing: content-box;
      background: #999;
      color: #fff;
      font-weight: 100;
      border-radius: 100%;
      &:hover
        background color-link
  ul, ol
    list-style: none
    margin: 0
    li 
      display inline-block
      border 1px solid #eee
      padding .2em .8em
      border-radius 100px
      margin .3em .4em
      cursor pointer
      a 
        color #ddd
      &:hover
        border 1px solid color-link
        a
          color color-link
      a:hover
        color color-link
        text-decoration none
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block
